
/* Hide the vertical scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Style the scrollbar track */
.hide-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust the background color as needed */
}
